@import url("../../lessRes/common.less");

.base {
  width: @full-width;
  height: @full-height;
  background-color: @backgroundColor-bg;
  .flex-v-start;

  .sw{
    width: @full-width;
    height: @full-height;
    margin-top:10px;
  }

}
