@import url("../../lessRes/common.less");

.base {
  width: @full-width;
  height: @full-height;
  background-color: @backgroundColor;

  .content {
    height: 150px;
    line-height: 150px;
    text-align: center;
    background-color: #ffffff;
  }

  .tab{
    width: @full-width;
    background-color: red;
  }

}
